{% extends "layout_main.html" %}

{% block title %}
    Home
{% endblock %}


{% block main %} 

<div class="d-flex align-items-center justify-content-center pagebody">
    <div class="mw-25">
        <h1>
            Cloudy
        </h1>

        <br>

        <form class="d-flex" method="post" onsubmit="search()">
            <input autocomplete class="form-control me-2" name="city" id="search" placeholder="Enter city name" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
    </div>
</div>
<br>
<div class="d-flex justify-content-center">
    <div class="w-25 mw-25">
        <ul class="alignleft list-group" id="autoresults">
        </ul>
    </div>
</div>
{% endblock %}